	body {
		background: url("../images/living room wide shot.jpg");
		background-size:cover;
		font-size: 30px;
		font-family: "Helvetica Neue", sans-serif;
		font-weight:200;
		text-decoration:none;
		text-align:center;
	}

		.wrapper	{
			width:1300px;
			margin:0 auto;
			padding:20px;
			text-align:center;
	}
	
		#header	{font-size:150px;
			font-weight:100;
			color: rgba(7,242,231,0.8);
			background: rgba(255,255,255,0.1);
			margin: 0;
			text-align:center;
			padding:30px;
			margin:30px;
			width:1350px;
			font-family: "Helvetica Neue", sans-serif;
			border-style:solid;
			}

		h2	{
			font-size:40px;
			color:#86fcea;
			font-weight:200;
			text-transform:lowercase;
			margin:0 auto;
			padding:10px;
			text-align:center;
	}

		p 	{
			margin:20 auto;
			text-align:center;
			color:#78787A;
	}

		#slogan	{
			font-style: italic;
			text-align:center;
	}

		ul	{
			text-align:left;
			margin:0 auto;
			text-indent:0px;
			text-align:left;
			color:#78787A;
		}
	
		a	{
			color:#F2F21F;
			text-decoration:none;
			font-size:45px;
			padding:20px;
			text-transform:uppercase;
		}

		a:hover	{
			font-size:45px;
			color:#F2F21F;
			border:#F2F21F solid 4px;
			text-decoration:none;
			padding:20px;
		}
