@import url(https://fonts.googleapis.com/css?family=Pacifico);

*	{
	margin: 0;
	padding: 0;
}


body	{
	font-size: 100%;
	font-family: 'helvetica-neue', sans-serif;
}

.wrapper	{
	width: 95%;
	margin: 1em;
	padding: 1em;

}

header	{
	display: inline;
	clear: both;
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: .2em;
	font-family: 'helvetica-neue', sans-serif;
	font-size: 2em;
}

h1	{
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	display: block;
	width: 100%;
	padding: .2em;
	margin: .1em;
	color: #a0eadd;
	text-align: center;
}

nav	{
	clear: both;
	width: 100%;
	display: inline;
	font-size: 1em;
	float: left;
	background-color: #fff;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	color: #a0eadd;
	text-align: center;
}

nav	a	{ 
	display: inline;
	width: 20%;
	padding: 1em;
	background-color: #fff;
	font-size: .8em;
	padding: 1em;
	text-decoration: none;
	color: #a0eadd;
	text-align: center;
}


nav a:hover	{
	width: 100%;
	background-color: #f4f4c0;
	padding: 1em;
}

.copy	{
	width: 100%;
}

main	{
	width: 60%;
	clear: both;
	float: left;
	padding: .2em;
	background-color: #fff;
	margin: .1em;
}

.hero	{
	width: 100%;
}

img	{
width: 100%;
line-height: 100%;
float: left;
display: block;
}

aside	{
	font-size: 1em;
	width: 36%;
	float: right;
	padding: .2em;
	background-color: #fff;
	margin: .3em;
	border: .1em;
	
}

p {
	clear: both;
	background-color: #fff;
	padding: 1em;
}

.links	{
	clear: both;
	width: 100%;
	display: inline;
	text-align: center;
	margin: .5em;
	padding: .5em;
}

#facebook	{
	width: 13%;
	float: left;
	text-align: center;
	padding: .5em 3em;
	margin: 0 1em;
	text-decoration: center;
}

#twitter	{
	width: 13%;
	float: left;
	text-align: center;
	padding: .5em 3em;
	margin: 0 1em;
}

#instagram	{
	width: 13%;
	float: left;
	text-align: center;
	padding: .5em 3em;
	margin: 0 1em;
}
#youtube	{
	width: 13%;
	float: left;
	text-align: center;
	padding: .5em 3em;
	margin: 0 1em;
}

footer	{
	clear: both;
	width: 100%;
	text-align: center;
	background-color: #fff;
	margin: .5em;
	padding: .2em;
	background-color: ##daeaa0;
	color: #a0eadd;
}



@media screen and (max-width:700px)	{
	body	{
		font-size: 14px;
	}

	header	{
		display: block;
	}
	h1	{
		font-size:	1.5em;
	}

	nav a	{
		width: auto;
		display: block;
		background-color: #f4f4c0;
	}

	nav a:hover	{
		background-color: #fff;
	}

.hero	{
	width: auto;
	float: none;
	text-align: center;
	display: block;
}

aside	{
	width: auto;
	float: none;
}

.links	{
	clear: both;
	width: auto%;
	display: inline;
	text-align: center;
	margin: .5em;
	padding: .5em;
}

#facebook	{
	width: 10%;
	float: left;
	text-align: center;
	padding: .5em 1em;
	margin: 0 em;
	text-decoration: center;
}

#twitter	{
	width: 10%;
	float: left;
	text-align: center;
	padding: .5em 1em;
	margin: 0 1em;
}

#instagram	{
	width: 10%;
	float: left;
	text-align: center;
	padding: .5em 1em;
	margin: 0 1em;
}
#youtube	{
	width: 10%;
	float: left;
	text-align: center;
	padding: .5em 1em;
	margin: 0 1em;
}


@media screen and (max-width:500px)	{
	body	{
		font-size:12px;
	}

	header	{
		display: block;
	}

	h1	{
		width: auto;
		font-size: 1em;
		text-align: center;
	}

	nav a	{
		width: auto;
		display: block;
		background-color: #f4f4c0;
	}

	nav a:hover	{
		width: auto;
		background-color: #fff;
	}

	.links	{
		padding: .2em;
		display: inline;
	}

	main	{
		width: auto;
		float: none;
		text-align: center;
	}

	.hero	{
		width: auto;
		float: none;
		text-align: center;
	}

	p	{
		width: auto;
		float: none;
	}

	.p2	{
		display: none;
	}

	.links	{
	clear: both;
	width: auto%;
	display: inline;
	text-align: center;
	margin: .5em;
	padding: .5em;
}

#facebook	{
	width: 10%;
	float: left;
	text-align: center;
	padding: .5em 1em;
	margin: 0 em;
	text-decoration: center;
}

#twitter	{
	width: 10%;
	float: left;
	text-align: center;
	padding: .5em 1em;
	margin: 0 1em;
}

#instagram	{
	width: 10%;
	float: left;
	text-align: center;
	padding: .5em 1em;
	margin: 0 1em;
}
#youtube	{
	width: 10%;
	float: left;
	text-align: center;
	padding: .5em 1em;
	margin: 0 1em;
}
}
