	body {
		color:#000;
		font-family: 'Roboto', sans-serif;
		text-align:center;
		}

	h1 	{
			margin:0px;
			padding:0px;
			font-size:70px;
			font-weight:200;
			color:#2bcfc2;
			font-family: 'Sacramento', serif;
			text-transform: lowercase;
			text-align:center;
			background:#fff;
			width:100%;
			height:100%;
		}
		header.image	{
			background:url('../images/livingroom.jpg');
			background-size:1300px 400px;
			background-repeat: no-repeat;
    		width: 1300px;
    		height: 400px;
    		display: block;
    		margin-left: auto;
    		margin-right: auto
		}
	.copy	{
		font-size:16px;
		font-weight:800px;
		text-align: center;
		padding: 10px;
		width: 900px;
		background-color: rgba(255,255,255,0.6);
		margin: auto;
		font-family: 'Roboto', sans-serif;
		color:#000;
		font-size:18px;
		font-weight:200;
	}

		ul.main	{
			text-align:left;
			margin:10px auto;
			text-indent:0px;
			text-align:left;
			}
	
		img { display: block;
    		margin-left:0px;
   			margin-right:0px;
			}

		a	{
			color:#000;
			text-decoration:none;
			font-size:16px;
			padding:10px;
			text-transform:uppercase;
			font-family: 'Roboto', sans-serif;
		}

		a:hover	{
			font-size:16px;
			color:#000;
			border:#000 solid 2px;
			text-decoration:none;
			padding:10px;
			font-family: 'Roboto', sans-serif;
		}
		p#footer	{
			font-size:14px;
			font-family: 'Roboto', sans-serif;
			color:#000;
		}
